
{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
    <h1> welcome to the meeting planner! </h1>
    <p>
        This is my first web app in Django:::
        <em> Here we go!! </em>
    </p>
    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
            <li>
                <a href="{% url 'detail' meeting.id %}">
                    {{ meeting.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'rooms' %} ">Rooms list</a>
{% endblock content %}